<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>2022 FIFA World Cup Bracket</title>
		<link rel="stylesheet" href="./style.css">
	</head>
	<body>
		<div id="loader">loading...</div>
		<div id="app">
			<div id="top">
				<header>
					<h1>2022 FIFA World Cup Bracket</h1>
					<span>A simple website designed to help you track 2022's FIFA World Cup bracket. Data is from <a href="https://worldcupjson.net/">worldcupjson.net</a> and the flags are from FIFA, thanks! Click on a match to show a play-by-play view, and view live score updates! The current (or most recent) game appears at the top of your screen. Once the group games are done, scroll down to see an entire tournament bracket also updated in real time. If you have any suggestions, be sure to post them <a href="">here</a>, and I'll add them ASAP!<br><br>
						(c) <a href="https://cole.ws">cole wilson 2022</a></span>
				</header>
				<div @dblclick="fullscreenCurrent" id="current" v-if="current !== undefined">
					<br><br>
					<span class="home center">
						<flag size=3 :code="current.home_team.country"></flag><br>
						{{current.home_team.name}}
					</span>
					<span class="score">
						<span class="big">{{current.home_team.goals}}-{{current.away_team.goals}}<br></span><br>
						<b v-if="current.time">{{current.time.replaceAll("full-time", "FT").replaceAll("90'", "FT")}}</b><br>
						<b v-if="!current.time">FINAL</b><br>
						<i class="loss">updates every minute</i>
					</span>
					<span class="away center">
						<flag size=3 :code="current.away_team.country"></flag><br>
						{{current.away_team.name}}
					</span>
				</div>
				<hr>
			</div>
			<div><details :open="current.id<49"><summary><h2>Groups</h2></summary>
				<div id="groups">
					<div v-for="group in groups" class="group">
						<h3>Group {{group.letter.toUpperCase()}}</h3>
						<span style="display:inline-block" v-for="team in group.teams">
							<flag :code="team.country"></flag><br>
							{{team.country}}<br>
							{{team.group_points}}
						</span><br>
						<div
							v-for="match in group.matches.map(id=>matches[id])"
							@mouseover="showdetails(match.id)"
							@click="showdetails(match.id, true)"
							@focus="showdetails(match.id, true)"
							@mouseleave="closedetails()"
							:class="{future:match.status=='future_scheduled',current:match.status=='in_progress'}"
							class="gmatch"
							tabindex="0">
							<!-- {{String(match.id).padStart(2, "&nbsp;")}} -->
							<flag :code="match.home_team.country"></flag>
							<span :class="{bold:match.home_team.name==match.winner||match.winner=='Draw'}" class="home">{{match.home_team.name}}</span>
							<span class="score" v-if="match.status == 'completed'">{{match.home_team.goals}}-{{match.away_team.goals}}</span>
							<span class="score" v-if="match.status != 'completed'">{{time(match.datetime)}}</span>
							<span :class="{bold:match.away_team.name==match.winner||match.winner=='Draw'}" class="away">{{match.away_team.name}}</span>
							<flag :code="match.away_team.country"></flag>
						</div>
					</div>
				</div>
			</details></div>
			<div id="matchdetails" v-if="details">
				<b>Match #{{details.id}}</b><br><br>
				<span class="home center">
					<flag size=2 :code="details.home_team.country"></flag><br>
					{{details.home_team.name}}
				</span>
				<span class="score" v-if="details.status == 'completed'">{{details.home_team.goals}}-{{details.away_team.goals}}</span>
				<span class="score" v-if="details.status != 'completed'">vs.</span>
				<span class="away center">
					<flag size=2 :code="details.away_team.country"></flag><br>
					{{details.away_team.name}}
				</span>
				<br><br>
				<span>{{(new Date(details.datetime)).toLocaleString()}}</span><br>
				<span>{{details.venue}}, {{details.location}}</span><span v-if="details.attendance"><br>({{details.attendance}} attendees)</span>
				<hr>
				<h3 class="left">Event List:</h3>
				<div v-if="events(details).length == 0">(none)</div>
				<div v-if-else v-for="event in events(details)">
					<span class="half right"><span v-if="event.class=='left'">
							<b>{{event.type_of_event}}</b><br>
							{{event.player}}<br><br>
					</span></span>
					<span class="half left"><span v-if="event.class=='right'">
							<b>{{event.type_of_event}}</b><br>
							{{event.player}}<br><br>
					</span></span>
				</div>
			</div>
			<hr>
			<h2>Main Bracket</h2>
			<div id="bracket" v-if="matches.length>0">
				<div class="col left">
					<match :match="matches[49-1]"></match>
					<match :match="matches[50-1]"></match>
					<match :match="matches[53-1]"></match>
					<match :match="matches[54-1]"></match>
				</div>
				<div class="col left">
					<match :match="matches[58-1]"></match>
					<match :match="matches[57-1]"></match>
				</div>
				<div class="col left">
					<match :match="matches[61-1]"></match>
				</div>
				<div class="col middle">
					<div id="" class="group blank"></div>
					<match :match="matches[64-1]"></match>
					<match :match="matches[63-1]"></match>
				</div>
				<div class="col right">
					<match :match="matches[62-1]"></match>
				</div>
				<div class="col right">
					<match :match="matches[60-1]"></match>
					<match :match="matches[59-1]"></match>
				</div>
				<div class="col right">
					<match :match="matches[51-1]"></match>
					<match :match="matches[52-1]"></match>
					<match :match="matches[55-1]"></match>
					<match :match="matches[56-1]"></match>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="./main.js"></script>
	</body>
</html>
