body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	align-items: center;
	font-family: monospace;
	background: lightgrey;
	width: 100vw;
}

html {font-family:monospace;text-align:center;}
html::after {content:"loading...";display:inline-block;font-size:1.5em;padding-top:45vh;font-weight:bold}
html.loaded::after {display:none;}

select,input {background:transparent;font-family: monospace;border:none;border-bottom:1px solid grey;cursor:pointer;}

.bold {font-weight: bold}

.home, .away , .score {vertical-align:middle;display:inline-block}
.home {width: 28%;text-align:left;}
.score {min-width:10%;text-align:center;}
.away {width:28%;text-align:right;}

#top {
	margin: 10px;
}
header {
	max-width: 30vw;
	overflow: hidden;
	display: inline-block;
	text-align: left;
}
#current {
	background: lightgrey;
	width: 65vw;
	text-align: center;
	float: right;
	display: inline-block;
	user-select: none;
}
#current:fullscreen {
	padding-top: 40vh;
	transform: scale(2);
}
#closemessage {display:none}
#current:fullscreen .big {font-size: 140px;}
#current:fullscreen .home, #current:fullscreen .away {transform: scale(2)}
#current:fullscreen #closemessage {display:block;color:darkred;position:fixed;left:0;top:0;}
#current:fullscreen #openmessage {display:none}

.big {font-size: 50px;font-weight:bold}
.biggish {font-size: 24px;}

h1,h2,h3,h4,h5,h6,p {margin:0;text-align: center;}
h1 {text-align:left}

img {border:1px solid black;vertical-align:middle;background: none}
.img1 {width: 30px;}
.label {transform:translateX(-20px);display:inline-block;background:#FFF9;width:27px;}

#groups {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

summary {text-align:center;cursor:pointer;user-select:none}
summary h2 {display: inline;}

#groups .group {
	max-height: none;
}

#bracket {
	width: 100vw;
	padding: 0px;
	overflow: auto;
	height: 100vh;
	display: flex;
}

.col {
	/* item stuff */
	flex: 1 1 0px;
	text-align: center;

	/* parent stuff */
	display: flex;
	flex-direction: column;
	/* height: 85vh; */
	justify-content: space-around;
	/* border:1px solid green; */
}

.group {
	background: white;
	display: inline-block;
	vertical-align: middle;
	margin: 2px;
	min-width: 180px;
	/* flex: 0 0 100px; */
	border: 1px solid lightgrey;
	/* max-height: 25%; */
	border-radius: 5px;
	text-align:center;
}
.group.blank {
	min-height:25%;
	background: none;
	border: none;
}
.future, .loss {opacity: 30%;}
.current {background:skyblue}
.center {text-align:center}
.left {text-align:left;}
.right {text-align:right;}
.sticky{position:sticky;top:0px;background: white;border-bottom:1px solid grey}
.half {
	display:inline-block;
	width:45%;
	vertical-align:top;
}
#lineup {width: 100%;border-collapse:collapse;}
#lineup td {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.gmatch {
	padding: 3px 0 3px;
}
.gmatch:hover, .gmatch:focus, .group:focus, #bracket .group:hover:not(.blank) {
	cursor: pointer;
	background: #AAAAAA;
	opacity: 100%;
}

#matchdetails {
	z-index:9;
	position: fixed;
	bottom: 10px;
	right: 10px;
	background: white;
	max-width: 60vw;
	min-width: 30vw;
	padding: 10px;
	max-height:40vh;
	text-align:center;
	overflow-y: auto;
	border: 2px solid grey;
	/* border-style: inset; */
	border-radius: 5px;
}
#matchdetails.moved {
	right: revert;
	left: 10px;
}


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-height: thin;
  scrollbar-color: lightgrey transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 20px;
  border: none;
}


@media (max-width:700px) {
	header {max-width:100%}
	#current {width: 100%;}
	.img3 {width: 20vw;}
	.big {font-size: 30px}
	#matchdetails {
		max-width: calc( 100vw - 50px);
		max-height: 50vh;
	}
}



.coffee {
	border: 1px solid darkgrey;
	margin-top: 5px;
	padding: 2px;
	display: inline-block;
	text-decoration: none;
	border-radius: 2px;
	color: black;
}

table {
	display: inline-block;
	padding: 0px 40px 0px;
	cursor: zoom-in;
}

table:focus {cursor:revert;outline:1px solid lightgrey;}
table .hidden {display: none;}
table:focus .hidden {display: revert;}
table:focus[data-bold] {font-weight:bold;}
table:focus tr::before {content: attr(data-key);font-weight: bold;}
table:focus tr::after {content: attr(data-key);color:transparent}
